@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 


.paper {
    margin: auto;
    min-height: 1000px;
    width: 900px;
    background-color: aliceblue;
    border: none;
    font-family: 'Courier', Courier, monospace;
    font-size: 12pt;
    font-weight: 590;

    padding-left: 1.5in;
    padding-right: 1in;
    padding-bottom: 1in;
    padding-top: 1in;
}
.breakdown-paper {
    margin: auto;
    min-height: 1000px;
    width: 400px;
    background-color: aliceblue;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
h2 {
    border-bottom: 1px black solid;
}

.example-radio-button {
    display: block;
}
#bar {
    position: absolute;
    height: 300px;
    width: 200px;
    padding: 10px;
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 10px;
}