<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>My projects</h2> 
                <hr>
            </div>
        </div>
        <div class="row">
            <mat-card matRipple class="col-lg-3 col-md-3 col-sm-4 text-center project" (click)="openProject('aa', 'aaa')">
                <mat-icon mat-card-image class="mt-4 project-icon">movie_edit</mat-icon>
                <mat-card-title class="mb-3 mt-4">Test project 1</mat-card-title>
            </mat-card>
        </div>
    </div>
  </div>
  