@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 


.project-icon {
    margin-left: auto;
    margin-right: auto;

    font-size: 7rem;
    height: max-content;
    width: max-content;
}

.project {
    cursor: pointer;
}


.project:hover {
    background-color: rgba(200, 200, 200, 0.2);
    color: #3C4858;
}