 :host{
  margin: 2rem;
  z-index: 10;
  width: 100%;
  
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-top: 0px;
}
header {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-link{
  color: #C7A44B!important;
  font-size: 15px!important;
  font-weight: 500!important;
} 
.navbar{
  margin-bottom: 0; 
  border-radius: 35px !important;
  background-color: rgb(46, 46, 46) !important;
}
