:host{
  top: 3rem;
  position: fixed;
  z-index: 10;
  width: 80%;
  margin-left: 8%;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-top: 0px;
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-link{
  color: #C7A44B!important;
  font-size: 15px!important;
  font-weight: 500!important;
}
.navbar{
  margin-bottom: 0; 
   border-radius: 50px !important;

}
