
main{
    /*background-color: rgb(121, 121, 121) !important; */
}
#content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.logo {
    width: 100px;
    transition: 4s;

}

.bd-masthead h1 {
    font-size: 4rem;
    line-height: 1;
}


.postive-benefit {
    color: forestgreen;
}
.negative-benefit {
    color: red;
}



.hidden {
    transition: 4s;
    visibility: hidden;
}